@{
    ViewBag.Title = "Generador de Reportes";
    var reportUnitario = ViewBag.ReportUnitario as List<Lester.Models.Embarques>;

}

<main>
    <h2>Genera Reporte</h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <label for="FechaInicio">Fecha Inicio:</label>
        <input type="date" id="FechaInicio" name="FechaInicio" required />
        <label for="FechaInico">Fecha Fin:</label>
        <input type="date" id="FechaDeFinalizacion" name="FechaDeFinalizacion" required />
        <input type="submit" value="Generar" />
    }
</main>

@if (reportUnitario != null && reportUnitario.Any())
{
    <h3> A nivel unitario</h3>
    <table class="table table-striped">
        <tr>
            <th scope="col">Codebar</th>
            <th scope="col">Acrónimo</th>
            <th scope="col">Hora de Lectura</th>
            <th scope="col">Viaje</th>
        </tr>
        @foreach (var item in reportUnitario)
        {
            <tr>
                <td>@item.codebar</td>
                <td>@item.acronimo</td>
                <td>@item.fechaLectura.TimeOfDay</td>
                <td>@item.Viaje</td>
            </tr>
        }
    </table>

    }

    